<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title | 🍕&🥧</title>
</head>
<body>
    <!-- Bootstrap 5 Navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/">🍕 P&P 🥧</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/profile">Profile</a>
                    </li>
                </ul>
            </div>

            <!-- Custom Message -->
            <div class="col-3">
                @ViewBag.CustomMessage
            </div>

        </div>
    </nav>
    <!-- End of Navbar -->

    <div class="container-fluid">
       <div class="row">
           <!-- Aside List Section-->
            <div class="col-md-2" style="background-color:#f5f5f0; min-height: 100% ; padding: 0;">
                <div class="list-group border-0">
                    <a href="#Favourites" class="list-group-item text-dark" style="background-color: #d6d6c2;">❤ Favourites</a>
                    <a href="#Products" class="list-group-item text-dark" style="background-color: #d6d6c2;">🎉 Offers</a>
                    <a href="#Your Orders" class="list-group-item text-dark" style="background-color: #d6d6c2;">🍕 Your Orders</a>
                    @RenderSection("AboutSideBarOptions", required: false)
                </div>
            </div>
            
            <!-- Main Body-->
            <div class="col-md-10 bg-light p-5">
                @RenderBody()
            </div>

            <!--Footer Maybe -->
            <div class="m-0 p-4 bg-dark text-white text-center">
                <p>&copy; @(DateTime.Now.Year) Pizza & Pies A.S.</p>
            </div>
       </div>
    </div>


     <!-- External CDN Links for Bootstrap and jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>
